/// =================================================================================
/// Grid-related
/// =================================================================================
$grid--column-width: 60px;                                /// 60px
$grid--gutter-width: ($grid--column-width / 3);           /// 20px
$grid--unit: ($grid--column-width + $grid--gutter-width); /// 80px
$grid--column-count: 15;

$width--card: (5 * $grid--unit);

/// =================================================================================
/// Widths
/// =================================================================================
$width--border--thin:   1px;
$width--border--medium: (2 * $width--border--thin);
$width--border--large:  (2 * $width--border--medium);

/// =================================================================================
/// Colors
/// =================================================================================
$color--border: #000;

/// =================================================================================
/// Breakpoints
/// =================================================================================
$breakpoint--desktop: (15 * $grid--unit);
$breakpoint--tablet:  (10 * $grid--unit);

* {
   margin: 0;
   padding: 0;
}

body {
   margin: auto;
   width: (15 * $grid--unit);

   @media (max-width: ($breakpoint--desktop + $grid--unit)) {
      width: (10 * $grid--unit);
   }

   @media (max-width: ($breakpoint--tablet + $grid--unit)) {
      width: auto;
   }
}

header,
nav,
main,
footer {
   border: $width--border--thin solid $color--border;
}

main {
   display: flex;
   border: 0;

   @media (max-width: ($breakpoint--desktop + $grid--unit)) {
      display: block;
   }
}

.card {
   width: (5 * $grid--unit);
   line-height: 0;

   @media (max-width: ($breakpoint--desktop + $grid--unit)) {
      width: auto;
   }

   img {
      display: block;
      width: (5 * $grid--unit);

      @media (max-width: ($breakpoint--desktop + $grid--unit)) {
         display: inline;
      }

      @media (max-width: ($breakpoint--tablet + $grid--unit)) {
         width: 100%;
      }
   }
}
